@{
    ViewData["About"] = "About";
    <h1> About me </h1>
    <h2> Name: John Christopher Chavez   </h2>
    <h3> Mobile Number: (+63) 09082289873   </h3>
    <h4> Email: johnchristopher.chavez.cics@ust.edu.ph   </h4>
    <h5>    </h5>

    <img src="/img/ME.jpg" alt="Me"  />



   

}