@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We are responsible for maintaining and protecting the Personal Information under our control.
        We have designated an individual or individuals
        who is/are responsible for compliance with our privacy policy.</p>
